body{
    margin: 0;
}

.d1{
    background-color: black;
    height: 400px;
    width: 400px;
    color: white;
   position: relative;
  
}

.d2{
    background-color: aqua;
    color: black;
    height: 200px;
     width: 200px;
     position: absolute;
     left: 200px;
     top: 0px;


}