body{
    margin: 0;
}

.d1{
    background-color: black;
    height: 400px;
    width: 400px;
    color: white;
   display: flex;
   justify-content: end;
}
.span{
    display:full;
    margin: 0%;
}
.d2{
    background-color: aqua;
    color: black;
    height: 200px;
    width: 200px;
    margin-top: 200px;
}