

/* SOLUTION METHOD 1 */
body {
    margin: 0;
   
   
}
#duv{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
 
   
  }
 
.d2{
    display: flex;
    justify-content: center;

}
.d3{
    display: flex;
    justify-content: end;
}
 
  .div1 {
   
    
  }
  
  .div2 {
   
   
  }
  
  .div3 {
    
    
  }











/* SOLUTION METHOD 2 */


/* body {
    margin: 0;
   
}
#duv{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
 
   
  }
  #newdiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

 
  .div1 {
    margin: 0px;
    padding: 0px;
    
  }
  
  .div2 {
   margin-left: 50%;
   margin-top: 4%;
   
  }
  
  .div3 {
    margin-top: 20%;
    
  } */